TALLY_KEY=               # Required. Set this to any secret string, or generate one (see README).
# METRIC_TTL=1440        # Minutes before an unupdated metric expires. Default: 1440 (24 hours)
# MAX_METRICS=1000       # Max number of series stored in memory. Default: 1000
# PORT=9200              # Port to listen on. Default: 9200
# BIND_ADDRESS=0.0.0.0   # Address to bind to. Default: 0.0.0.0